<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Tarefas</h1>

    <input id="title" placeholder="Nova tarefa" />
    <input id="description" placeholder="Descrição da tarefa" />

    <button onclick="createTask()">Criar</button>

    <ul id="tasks"></ul>

    <button onclick="logout()">Sair</button>

    <script src="/static/app.js"></script>

    <script>
      loadTasks();
    </script>
  </body>
</html>
