@import "partials/access";
@import "partials/home";
@import "partials/dashboard";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F8FAFC;
}
